:root {
    --14-regular-font-family: "Inter-Regular", Helvetica;
    --14-regular-font-weight: 400;
    --14-regular-font-size: 14px;
    --14-regular-letter-spacing: 0px;
    --14-regular-line-height: 20px;
    --14-regular-font-style: normal;
    --BG-blur-40: ;
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-radius-8: 8px;
    --spacing-size-20: 20px;
    --show-text-show-text: initial;
    --corner-radius-8-duplicate: 8px;
    --corner-radius-16-duplicate: 16px;
    --show-icon-show-icon: initial;
    --themes-black-100: rgba(28, 28, 28, 1);
    --themes-primary-light: rgba(247, 249, 251, 1);
    --themes-black-5: rgba(28, 28, 28, 0.05);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-spacing-mode="standard">
        <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-spacing-mode="standard"] {
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-size-20: 20px;
}

[data-spacing-mode="expanded-4"] {
    --spacing-4: 8px;
    --spacing-8: 12px;
    --spacing-16: 20px;
    --spacing-24: 28px;
    --spacing-size-20: 24px;
}

[data-spacing-mode="expanded-8"] {
    --spacing-4: 12px;
    --spacing-8: 16px;
    --spacing-16: 24px;
    --spacing-24: 32px;
    --spacing-size-20: 16px;
}

[data-spacing-mode="condensed-4"] {
    --spacing-4: 0px;
    --spacing-8: 4px;
    --spacing-16: 12px;
    --spacing-24: 20px;
    --spacing-size-20: 20px;
}

[data-show-text-mode="true"] {
    --show-text-show-text: initial;
}

[data-show-text-mode="false"] {
    --show-text-show-text: none;
}

[data-corner-radius-mode="standard"] {
    --corner-radius-8-duplicate: 8px;
    --corner-radius-16-duplicate: 16px;
}

[data-corner-radius-mode="expanded-4"] {
    --corner-radius-8-duplicate: 12px;
    --corner-radius-16-duplicate: 20px;
}

[data-corner-radius-mode="expanded-8"] {
    --corner-radius-8-duplicate: 16px;
    --corner-radius-16-duplicate: 24px;
}

[data-corner-radius-mode="condensed-4"] {
    --corner-radius-8-duplicate: 4px;
    --corner-radius-16-duplicate: 12px;
}

[data-show-icon-mode="true"] {
    --show-icon-show-icon: initial;
}

[data-show-icon-mode="false"] {
    --show-icon-show-icon: none;
}

[data-themes-mode="pastel-light"] {
    --themes-black-100: rgba(28, 28, 28, 1);
    --themes-primary-light: rgba(247, 249, 251, 1);
    --themes-black-5: rgba(28, 28, 28, 0.05);
}

[data-themes-mode="pastel-dark"] {
    --themes-black-100: rgba(255, 255, 255, 1);
    --themes-primary-light: rgba(255, 255, 255, 0.05);
    --themes-black-5: rgba(255, 255, 255, 0.1);
}

[data-themes-mode="bright-light"] {
    --themes-black-100: rgba(46, 52, 62, 1);
    --themes-primary-light: rgba(255, 255, 255, 1);
    --themes-black-5: rgba(46, 52, 62, 0.05);
}

[data-themes-mode="bright-dark"] {
    --themes-black-100: rgba(255, 255, 255, 1);
    --themes-primary-light: rgba(255, 255, 255, 0.05);
    --themes-black-5: rgba(255, 255, 255, 0.1);
}
